.nd_logo img {
    height: 70px;
    margin: 5px 0; }

.nd_menu ul {
    float: right; }
.nd_menu ul li a {
    padding: 20px 15px; }

.phone_head img {
    height: 16px;
    margin-top: 0px; }
.phone_head span {
    font-size: 20px;
    font-weight: normal;
    color: #dcaf26; }

.chat_messager img {
    height: 22px; }
.chat_messager span {
    font-size: 13px;
    color: #222; }

.container {
    position: relative; }

.footer-widget-logo img {
    height: 100px; }

.footer-widget-inner.section-space {
    padding: 40px 0; }

.nd_tab_service ul li a {
    padding: 0 10px;
    margin-bottom: 20px; }

img.slider_mb {
    display: none; }

.header-configure-area {
    padding: 20px 0; }

.banner-content {
    bottom: 0;
    top: auto;
    padding: 10px 15px 5px 15px;
    position: absolute;
    height: auto;
    pointer-events: none;
    background: #27338c;
    text-align: left; }
.banner-content h3 {
    text-align: left;
    font-size: 18px !important;
    color: #fff !important; }
.banner-content h5 {
    text-align: left !important;
    color: #dcaf26 !important; }

.header-area {
    border-bottom: 1px solid #efefef; }

.product-item {
    margin-bottom: 30px;
    float: left; }

.pagging_services {
    width: 100%;
    text-align: center;
    display: inline-block; }
.pagging_services ul {
    margin: 0 auto;
    margin: auto;
    width: 197px;
    padding: 0; }
.pagging_services ul li a {
    color: #222;
    border: 0;
    border-radius: 0 !important;
    background: none !important; }
.pagging_services ul li:hover a, .pagging_services ul li.active a {
    background: #dcaf26 !important;
    color: #222;
    border-color: #dcaf26 !important; }

.section-title.other_service h2 {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    color: #27338c;
    font-weight: 600; }

.section-title.other_service {
    padding: 0;
    margin-bottom: 20px; }

.button_account_sale img {
    margin-right: 4px;
    width: 20px;
    margin-top: -4px; }

.button_review button {
    background: #dcaf26;
    color: #222;
    padding: 5px 15px;
    float: right;
    margin-top: 10px;
    border-radius: 2px; }
.button_review button:hover {
    opacity: .85; }

.product-details-des .fa-star {
    font-size: 16px;
    margin-top: 4px; }

.rev-avatar img {
    border-radius: 50%; }

.box_form_review {
    border: 1px solid #efefef;
    padding: 0 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    height: 418px; }

.button_account_sale {
    width: 100%;
    display: inline-block; }
.button_account_sale a {
    padding: 5px 20px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 27px; }
.button_account_sale a:nth-child(1) {
    color: #222 !important; }

.buyed_note {
    font-size: 12px;
    color: #dcaf26; }

.like-icon .fa {
    font-size: 15px; }

span.promotion_numbers {
    background: #dcaf26;
    color: #222;
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 2px;
    margin-left: 10px;
    color: #222; }

.product-review-info .nav.review-tab li a {
    color: #222;
    background-color: #fff; }

.ratting_box {
    display: inline-block;
    width: 100%; }

.ratting_box h6 {
    float: left;
    margin-top: 21px; }

.box_form_review h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #27338c; }

.box_form_review input {
    height: 30px; }

.box_form_review .form-group {
    margin-bottom: 0; }

.ratting_box label {
    padding-bottom: 0;
    margin-bottom: 0; }

.ratting_customer {
    display: inline-block;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 15px; }

.number_ratting {
    text-align: center; }

.number_ratting h2 {
    font-size: 50px;
    color: #27338c; }

.ratting_customer .col-md-4, .ratting_customer .col-md-8 {
    float: left; }

@media screen and (max-width: 992px) {
    .phone_head img {
        height: 16px;
        margin-top: -7px; }

    img.slider_pc {
        display: none; }
    img.slider_mb {
        display: block; } }
.section-space {
    padding: 20px 0;
}

.head_product_detail {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: none; }
.head_product_detail h1 {
    font-size: 20px;
    width: 70%;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 11px;
    left: 50px;
    color: #27338c;
    display: none; }

.bottom_buy {
    display: none; }

.discount_hot {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #dcaf26;
    font-size: 19px;
    padding: 4px 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff; }

.discount {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    line-height: 30px;
    min-width: auto; }

.price_services_hot {
    float: left;
    text-align: left;
    width: 100%; }
.price_services_hot b {
    font-size: 22px;
    color: #dcaf26;
    margin-right: 10px; }
.price_services_hot label {
    font-size: 16px;
    text-decoration: line-through;
    color: #a2a9dc;
    height: 18px;
    padding: 0 5px;
    margin: 0; }

.name_services_hot {
    float: left;
    width: 100%; }

@media screen and (max-width: 767px) {
    .banner-statistics {
        /*display: none; */
    }

    .product-item {
        width: 50%; }

    .breadcrumb-wrap {
        display: none; }

    .tab-menu li {
        margin-right: 20px; }

    .nd_tab_service ul li a {
        padding: 0 0px;
        margin-bottom: 10px; }

    .footer-bottom-area {
        margin-bottom: 40px; }

    .product-details-des .quantity-cart-box {
        margin-bottom: 0; }

    .head_detail {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
        -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
        animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown; }
    .head_detail h1 {
        display: block !important; }

    .bottom_buy {
        position: fixed;
        width: 100%;
        z-index: 8;
        display: block;
        background: #27338c;
        bottom: 0; }
    .bottom_buy .action_link {
        display: block !important; }
    .bottom_buy .action_link a {
        color: #fff !important;
        padding: 0;
        border-radius: 0;
        text-align: center;
        float: left;
        line-height: 19px;
        height: 53px;
        padding-top: 9px; }
    .bottom_buy .action_link a img {
        margin-right: 0;
        width: 20px; }
    .bottom_buy .action_link a span {
        font-size: 10px;
        width: 100%;
        display: inline-block; }
    .bottom_buy .action_link a:nth-child(1) {
        width: 20% !important;
        border-right: 1px solid #8089cb; }
    .bottom_buy .action_link a:nth-child(2) {
        width: 40% !important; }

    .buy_button_bottom {
        width: 40% !important;
        line-height: 54px !important;
        padding-top: 0 !important; }
    .buy_button_bottom span {
        background: #dcaf26;
        color: #222;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px !important;
        height: 53px !important; }

    .product_detail_head {
        display: none; }

    .shop-main-wrapper {
        margin-top: 0 !important;
        position: relative; }

    .head_product_detail {
        z-index: 9;
        display: block; }
    .head_product_detail a img {
        width: 20px;
        margin: 14px 0 0 10px; }
    .head_product_detail .header-configure-area {
        position: absolute;
        right: 20px;
        top: 0px; }

    .box_form_review {
        margin-top: 20px; }

    .product-details-inner .col-lg-5 {
        padding: 0; }

    .rev-avatar {
        width: 10%;
        padding-right: 5px;
        float: left; }

    .review-box {
        float: left;
        width: 90%;
        margin-bottom: 10px; }

    .number_ratting {
        float: left;
        width: 100% !important;
        text-align: left;
        padding: 0; }
    .number_ratting h2, .number_ratting span, .number_ratting p {
        float: left; }
    .number_ratting p:nth-child(1) {
        width: 100%; }
    .number_ratting p:nth-child(2) {
        margin-left: 5px; }
    .number_ratting h2 {
        font-size: 18px;
        margin-right: 5px; }

    .review-box p {
        font-size: 13px !important; }
    .review-box .ratings span i {
        font-size: 16px; }

    .section-title.other_service {
        padding-bottom: 0 !important; }

    .number_ratting p {
        font-size: 12px !important; }

    .number_ratting .fa {
        font-size: 20px !important; }

    .box_form_review {
        box-shadow: none; }

    .ratting_customer .col-md-8 {
        display: none; }

    .minicart-inner .minicart-close i {
        display: block;
        line-height: 32px;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s; }

    .minicart-inner .minicart-close {
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #27338c;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
        top: 0;
        right: 375px;
        position: absolute;
        left: 0; }

    .product-details-des {
        margin-top: 0; }

    .product-details-des .product-name {
        font-size: 28px; }

    .product-item .btn-cart {
        font-size: 12px;
        padding: 5px 21px; }

    .our-product {
        margin-top: 15px !important; }

    .section-space {
        padding-bottom: 10px; }

    .action_link {
        display: none; }

    .product-label:nth-child(1) {
        top: 5px;
        left: 5px; } }
.minicart-button a i {
    padding-right: 5px;
    font-size: 18px; }

.breadcrumb-area i, .breadcrumb-area a {
    color: #898989;
    font-size: 12px !important; }

.breadcrumb-wrap {
    padding-bottom: 0; }

.payment_cart {
    background: #f3f3f3;
    width: 100%; }

.breadcrumb-wrap {
    padding: 5px 0; }

.payment_cart {
    padding: 15px 0 !important;
    display: inline-block;
    width: 100%;
    margin-top: 0; }
.payment_cart__content {
    width: 1024px;
    margin: auto; }
.payment_cart__content__body {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
.payment_cart__content__body h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    color: #27338c;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px; }
.payment_cart__content__body ul {
    padding: 15px;
    float: left;
    width: 50%;
    padding-bottom: 0; }
.payment_cart__content__body ul li {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #efefef;
    padding: 10px 0; }
.payment_cart__content__body ul li p {
    color: #27338c;
    width: 100%;
    text-align: right;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer; }
.payment_cart__content__body ul li.cart_discount {
    padding-top: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 0; }
.payment_cart__content__body ul li.cart_discount .textbox_discount {
    width: 220px;
    display: none;
    float: right; }
.payment_cart__content__body ul li.cart_discount .textbox_discount input {
    height: 30px;
    border-radius: 4px 0 0 4px;
    width: 150px;
    float: left;
    padding: 0 5px;
    border: 1px solid #ced4da; }
.payment_cart__content__body ul li.cart_discount .textbox_discount button {
    height: 30px;
    width: 70px;
    background: #27338c;
    color: #fff;
    text-align: center;
    border-radius: 0 4px 4px 0; }
.payment_cart__content__body ul li .avatar_cart {
    float: left;
    width: 18%; }
.payment_cart__content__body ul li .avatar_cart a img {
    width: 100%; }
.payment_cart__content__body ul li .infor_cart {
    float: left;
    width: 80%;
    position: relative;
    padding-left: 20px;
    padding-right: 68px; }
.payment_cart__content__body ul li .infor_cart h2 {
    font-size: 16px;
    margin-bottom: 10px; }
.payment_cart__content__body ul li .infor_cart .product-details-des {
    display: inline-block;
    width: 100%; }
.payment_cart__content__body ul li .infor_cart span.cart_remove {
    width: 100%;
    cursor: pointer;
    display: inline-block; }
.payment_cart__content__body ul li .infor_cart span.cart_remove i {
    font-size: 11px;
    background: #898989;
    color: #fff;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 17px;
    margin-right: 3px; }
.payment_cart__content__body ul li .infor_cart span.cart_remove:hover {
    color: #dcaf26; }
.payment_cart__content__body ul li .infor_cart span.cart_remove:hover i {
    color: #222;
    background: #dcaf26; }
.payment_cart__content__body ul li .infor_cart .price_cart {
    position: absolute;
    right: 0;
    top: 0;
    color: #dcaf26;
    font-size: 14px; }
.payment_cart__content__body ul li.total_price {
    font-size: 14px;
    text-align: left;
    border-bottom: 0;
    padding: 3px 0; }
.payment_cart__content__body ul li.total_price span {
    float: right; }
.payment_cart__content__body ul li.total_payment span {
    font-size: 20px;
    font-weight: 600;
    color: #dcaf26; }
.payment_cart__content__body .payment_box {
    width: 50%;
    padding: 15px;
    border-left: 1px solid #efefef;
    padding-left: 20px;
    float: left; }
.payment_cart__content__body .payment_box .form-group {
    float: left;
    padding: 0; }
.payment_cart__content__body .payment_box .form-group input {
    height: 35px;
    font-size: 14px; }
.payment_cart__content__body .payment_box .title_payment {
    display: inline-block;
    width: 100%; }
.payment_cart__content__body .payment_box .title_payment h6 {
    font-size: 16px;
    text-transform: uppercase;
    color: #27338c;
    border-top: 1px solid #efefef;
    font-weight: 600;
    padding-top: 15px; }
.payment_cart__content__body .payment_box .choose_payment {
    width: 100%; }
.payment_cart__content__body .payment_box .choose_payment ul {
    padding: 0;
    width: 100% !important; }
.payment_cart__content__body .payment_box .choose_payment ul li {
    border: 0; }
.payment_cart__content__body .payment_box .choose_payment label {
    cursor: pointer;
    margin-bottom: 0; }
.payment_cart__content__body .payment_box .choose_payment label span {
    font-size: 14px; }
.payment_cart__content__body .payment_box button {
    margin-bottom: 10px;
    margin-top: 10px; }
.payment_cart__content__body .payment_box button.btn_payment {
    height: 40px;
    width: 100%;
    background: #dcaf26;
    color: #222;
    text-transform: uppercase;
    font-weight: bold; }
.payment_cart__content__body .payment_box button.btn_payment img {
    margin: -4px 0 0 7px; }
.payment_cart__content__body .payment_box button.btn_payment:hover {
    opacity: .8; }
.payment_cart__content__body .product-details-des .quantity .pro-qty input {
    width: 28px;
    float: left;
    border: none;
    height: 33px;
    line-height: 14px;
    padding: 0;
    text-align: center;
    background-color: transparent; }
.payment_cart__content__body .product-details-des .quantity .pro-qty .qtybtn {
    width: 15px;
    display: block;
    float: left;
    line-height: 32px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #555; }
.payment_cart__content__body .product-details-des .quantity .pro-qty {
    width: 90px;
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 15px;
    border-radius: 4px;
    float: left; }

@media screen and (max-width: 1025px) {
    .payment_cart__content__body ul, .payment_cart__content__body .payment_box {
        width: 100% !important;
        padding: 10px; }

    .payment_cart__content {
        width: 500px !important; }

    .payment_cart__content__body ul li .infor_cart .product-details-des {
        margin-top: 0; }

    .payment_box .form-group {
        padding: 0 !important; } }
@media screen and (max-width: 767px) {
    .payment_cart__content {
        width: 100% !important; } }

/*# sourceMappingURL=custom.css.map */